* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
}
header {
  width: 100%;
}
.header-navigation {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 16px 0px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  z-index: 1000;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 173px;
  height: 40px;
}
.header-navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  padding-right: 50px;
  margin-left: auto;
}
li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
li a:hover {
  text-decoration: underline;
}
li button {
  display: block;
  background-color: #0787ca;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  width: 112px;
  height: 30px;
}
.search {
  display: flex;
  width: 20px;
  height: auto;
  right: 5px;
}
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 70vh;
  background-color: black;
  color: white;
  justify-content: space-between;
  cursor: pointer;
}
.header-container__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 100%;
  width: 100%;
}
.header-container__element h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  text-align: center;
  font-family: TNYAdobeCaslonPro, "Times New Roman", Times, serif;
  font-size: 36px;
}
.header-container__element h1:hover {
  text-decoration: underline;
}
.header-container__element img {
  max-width: 100%;
  width: 30vw;
  height: 90vh;
  padding: 30px;
  margin: 0 auto;
  object-fit: contain;
}
.header-container__element p {
  text-align: center;
  font-size: 20px;
}
.subArticles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 72px;
  background-color: white;
}
.subArticles ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
.subArticles ul li a {
  font-size: 14px;
  font-weight: 520;
  color: black;
  cursor: pointer;
}

#support {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  padding: 15px 0px;
}
#support img {
  border-radius: 8px;
  width: 48px;
  height: 48px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 90%;
  justify-self: center;
  /* flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-self: center;
  justify-content: center;
  align-items: center;
  justify-content: space-around; */
}
.card {
  width: 310px;
  height: 700px;
  cursor: pointer;
}
.card-image-container {
  width: inherit;
}
.card-image-container img {
  width: inherit;
  height: 220px;
}
.card-text-container a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.card-text-container a h3 {
  font-weight: 500;
}

.between-images-hr {
  rotate: 90;
  height: 220px;
  border-color: rgba(255, 255, 255, 0.7);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: auto;
}
